{% extends "section.html" %}

{%- block main -%}
    <h1>Posts</h1>
    {% set groups = section.pages | group_by(attribute="year") %}
    {% for year in groups | keys | sort | reverse -%}
    <h2>{{ year }}</h2>
    <ul class="pages-list">
    {%- for post in groups[year] | sort(attribute="date") | reverse %}
      <li>
        <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
        <small><time datetime="{{ post.date }}">{{ post.date | date(format="%b %d") }}</time></small>
      </li>
    {% endfor %}
    </ul>
    {%- endfor %}
{%- endblock main %}
